* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
	background: #000a00;
	background-image: url(docs/dima3-2.jpg);
	background-repeat: no-repeat;
	/*background-position: center;*/
	

}

.box {
	display: flex;
	padding-top: 20px;
	background-size: cover;
	justify-content: flex-end;
	padding-right: 50px;
}

.nav {
	/*margin-left: 20px;*/
	width: 200px;
	background-color: #596275;
	border-radius: 8px;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}

.nav__item {
	display: block;
	border-top: 2px solid #93a090;
	margin: 0;
	padding: 0;
	background-color: #535a51;
	font-size: 16px;
	overflow: hidden;
}

.nav__item-link {
	color: #fff;
	text-decoration: none;
	padding: 16px 20px;
	display: block;
}

.nav__submenu {
	background: #51644c;
	overflow: hidden;
	max-height: 0px;
	transition: max-height 0.5s;
}

.nav__submenu-link {
	display: block;
	padding: 16px 20px;
	color: #fff;
	text-decoration: none;
	transition: background 0.5s ease-in;
	border-top: 2px solid #8aa881;

}

.nav__submenu-link:hover {
	background: #4d4d4d;
}

.nav__submenu:target {
	max-height: 15rem;
}

.audio_end {
	max-width: 0px;
	height: 700px;
	background-color: #8aa881;
	overflow: hidden;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 15px;
	border-radius: 8px;
	font-weight: bold;
	color: #fff;
	text-align: center;
}

.audio_end:target {
	max-width: 400px;
	transition: max-width 0.5s;
}

.audio__box {
margin: 0px 10px;
}

.audio__title {
	padding-top: 10px;
}

.audio__subtitle {
	text-align: left;
	color:#021400;
	padding: 10px 0px;
}

.audio__subtitle-small{
	font-size: 13px;
	color: #fff;
	padding: 10px 0px;
}

.audio_rep {
	max-width: 0px;
	max-height: 500px;
	background-color: #646157;
	overflow: hidden;
	margin-left: 20px;
	margin-top: 15px;
	border-radius: 8px;
	font-weight: bold;
	color: #fff;
	text-align: center;
}

.audio_rep:target {
	max-width: 400px;
	transition: max-width 0.5s;
}

.audio_button {
	display: block;
	width: 280px;
	margin: 15px auto;
	padding: 20px;
	background-color: #535a51;
	border-radius: 12px; 
	color: #fff;
	text-decoration: none;
}

.musicbox {
	width: 0px;
	height: 680px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 12px;
	margin-top: 15px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	padding: 20px 0px;
	overflow: hidden;
	display: flex;
	align-items: flex-end;
}

.musicbox:target{
	width: 1150px;

}

.musicbox__items{
	display: flex;
	width: 1130px;
	padding: 10px 20px ;
	border-top: 2px solid #93a090;
	border-bottom: 2px solid #93a090;

}

.musicbox__title{
	margin-bottom: 10px;
}

.musicbox__items-cover{
	width: 200px;
	height: 200px;
	background-position: center;
	background-size: cover;
	background-image: url(docs/cover_PAM_small.jpg);
	overflow: hidden;
	border-radius: 8px;
}

.musicbox__items_col{
	/*background-color: #aaa;*/
	width: 180px;
	height: 200px;
	/*margin-left: 20px;*/
}

.musicbox audio {
	width: 150px;
	height: 50px;
}